/* Variables for colors */
:root {
    --background: #000000;
    --text: #d4e4f3f6;
}

body {
    font-family: Arial;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Header elements */
header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: var(--background);
    color: var(--text);
}

header h1 {
    font-size: 200%;
}

/* Navigation bar properties */
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    margin-top: 10px;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: var(--text);
}

/* Background image properties */
.background {
    background-image: url(../images/background.jpg);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

figcaption {
    font-size: 180%;
    font-weight: bold;
    padding: 10px 10px;
    margin: auto;
    background-color: var(--background);
    color: var(--text);
}

.profile-picture {
    border-radius: 50px;
    padding: 20px;
    margin: auto;
}

/* Main section properties */
main {
    display: flex;
    flex-direction: column;
}

/* Properties for each section in the main body */
.section {
    display: flex;
    margin: 25px;
}

.section h2 {
    font-size: 180%;
    padding-right: 3vw;
    border-right: solid 2px var(--background);
    margin-right: 2vw;
    min-width: 15%;
    max-width: 15%;
}

.section p {
    line-height: 120%;
}

.description {
    padding-left: 10px;
    width: 80%;
}

/* Properties for the images of my projects */
.projects {
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

/* Properties for the first project */
.first_project {
    display: flex;
    width: 100%;
    justify-content: center;
}

.first_project_image {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 10px;
    border: solid 5px var(--background);
}

.topic-1 {
    position: absolute;
    font-size: 100%;
    margin: auto;
}

/* Properties for other projects */
.other_projects {
    display: flex;
}

.other_projects_image {
    display: flex;
    width: 100%;
    margin: 10px;
    border: solid 5px var(--background);
}

.topic-2,
.topic-3 {
    position: absolute;
    font-size: 100%;
    margin: auto;
}

/* Properties for the contact info section at the bottom */
.section ul {
    display: flex;
    min-width: 80%;
    justify-content: space-evenly;
}

.section li {
    font-size: 110%;
    font-weight: bold;
    text-decoration: none;
}

.section li a {
    text-decoration: none;
    color: black;
}

/* Changes the background color of header and image caption when resized to 768px or less  */
@media screen and (max-width: 768px) {

    header,
    figcaption {
        background-color: #3f0101;
    }

    .section h2 {
        font-size: 120%;
    }
}

/* Changes the styling and structure of the webpage when resized to 576px or less  */
@media screen and (max-width: 576px) {

    header,
    figcaption {
        background-color: #2a002d;
    }

    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        line-height: 2;
        text-align: end;
    }

    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section h2 {
        font-size: 150%;
        border-right: none;
        border-bottom: solid 2px var(--background);
        margin-bottom: 2vw;
    }

    .projects {
        width: 100%;
    }

    .first_project_image {
        margin: 0 0 20px;
    }

    .other_projects {
        flex-direction: column;

    }

    .other_projects_image {
        margin: 0 0 20px;
    }

    main ul {
        flex-direction: column;
        line-height: 2;
    }
}